body { padding-top: 70px; }

.navbar {
	-webkit-box-shadow: 0 8px 6px -6px #999;
       -moz-box-shadow: 0 8px 6px -6px #999;
            box-shadow: 0 8px 6px -6px #999;
}

.chosen {
  font-weight: bold !important;
}

.green {
  background-color: #B4F59A;
}

.red {
	background-color: pink;
}

.correct {
	/*color: green;
	text-decoration: underline;
	font-weight: bold;*/
	background-color: #B4F59A;
}

html, body {
  background-color: #E6E5DC;
}

.test div {
	background-color: grey;
}

.award {
	padding-bottom: 30px;
}

.wrong {
	text-decoration: line-through;
	color: red;
}

.progress {
	margin-bottom: 0;
	width: 350px;
}