
<!-- <h2>Login Page</h2>

<div id="login">
  <span ng-show="auth.user">
    {{auth.user.name}} | <a href="#" ng-click="auth.$logout()">Logout</a>
  </span>
  <a href="#" ng-hide="auth.user" ng-click="logitin()">Login</a>
</div> -->
<div class="text-center" style="margin-top: 50px;">
<h1>Welcome to the Jenkins Family Oscar Competition!</h1>
</div>
<div class="text-center" style="margin-top: 50px;">
    <button class="btn btn-lg btn-primary" style="padding: 50px;" ng-click="logitin()"><span style="font-size: 150%;">LOG IN WITH FACEBOOK</span></button>
</div>

