<!-- <p>Hello, {{ user.facebook.displayName }}</p>
<button ng-click="auth.$unauth()">Logout</button> -->

<div class="header">
  <ul class="nav nav-pills">
    <li class="dropdown pull-right" dropdown on-toggle="toggled(open)">
      <a href class="dropdown-toggle" dropdown-toggle>
        {{user.facebook.displayName}} <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href ng-click="auth.$unauth()">logout</a>
        </li>
      </ul>
    </li>
    <h3 class="text-muted" ng-click="getInfo()">Oscar Competition</h3>
  </ul>
</div>

<div class="row">
  <div class="col-xs-12">
    {{$index}}
    <div ng-repeat="award in awards" class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title pull-left">
            <i class="fa fa-star"></i> {{award.award}}
          </h2>
        <div class="pull-right">
          1 pt
          <!-- <span ng-if="award.points > 1">s</span> -->
        </div>
        <div class="clearfix"></div>
      </div>

      <ul class="list-group">
        <li class="list-group-item" ng-repeat="nom in award.nominees">
          <div class="radio">
            <label>
              <input type="radio" ng-model="picks[$parent.$index]" ng-value="$index" ng-disabled="time > oscarStart" style="margin-top: 8px">
              <span ng-show="nom.nominee"><span class="lead">{{nom.nominee}}</span> - <em>{{nom.film}}</em>
              </span>
              <span ng-hide="nom.nominee"><span class="lead">{{nom.film}}</span>
              </span>
            </label>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- <div class="col-md-6 col-xs-12">
      <div ng-repeat="(name,award) in awards | filter:searchf" ng-if="$index>11" class="panel panel-primary">
        <div class="panel-heading">
          <h2 class="panel-title pull-left">
            <i class="fa fa-star"></i> {{name}}
          </h2>
          <div class="pull-right">
            {{award.points}} pt<span ng-if="award.points > 1">s</span>
          </div>
          <div class="clearfix"></div>
        </div>

        <ul class="list-group">
          <li class="list-group-item" ng-repeat="nom in award.nominees">
            <div class="radio">
              <label>
                <input type="radio" ng-model="user.picks[name]" value="{{nom.movie}}" name="{{name}}" ng-disabled="time > oscarStart" style="margin-top: 8px">
                <span ng-class="nomClass(name, award, nom)"><span class="lead">{{nom.movie}}</span> - <em>{{nom.team}}</em>
                </span>
              </label>
            </div>
          </li>
        </ul>
      </div>
    </div> -->
</div>